

.body{
    font-family: 'Raleway', sans-serif;
}

.navbar{
    display: flex;
    justify-content: space-around;
    background-color: cadetblue!important;
    color: white

}

.h1{
    margin: 20px;

}

.div1{
    display: flex;
    justify-content: space-around;

}

.p1{
    margin: 10px;
}

.main{
    margin-top: 5%;

}

.footer{
    background-color: cadetblue;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    
}

.h2{
    margin: 10px;
}

.h3{
    margin: 10px;
}

.h4{
    margin: 10px;
}