
.navbar{
    display: flex;
    justify-content: space-around;
    background-color: cadetblue;
    color: white
}

.h1{
    margin: 20px;
}

.div1{
    display: flex;
    justify-content: space-around;
}

.main{
    margin-top: 5%;

}

.footer{
    background-color: cadetblue;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}